<template lang="pug">
  q-btn.q-mx-sm(flat round icon="chat" @click="dialog = !dialog")
    q-badge.badge-dot(floating color="primary" v-if="messages && messages.length")
      .text-center.full-width {{messages.length > 9 ? '+9' : messages.length}}
    q-dialog(v-model="dialog" :maximized="fullScreen")
      q-card(:class="fullScreen ? 'form-card-full' : 'form-card'")
        q-card-section.no-padding
          q-item.q-pa-md
            q-item-section(avatar)
              q-icon(name="chat")
            q-item-section
              q-item-label(caption) Discussão sobre o item
              q-item-label {{title}}
            q-item-section(side v-if="$q.platform.is.desktop")
              q-btn(:icon="!fullScreen ? 'fullscreen' : 'fullscreen_exit'" flat round @click="fullScreen = !fullScreen")
            q-item-section(side)
              q-btn(flat round @click="dialog = false" icon="close")
        q-separator
        q-card-section.no-padding(:class="$q.dark.isActive ? null : 'bg-grey-2'")
          q-scroll-area(:class="fullScreen ? 'guia-chat-scroll-full' : 'guia-chat-scroll'")
            .q-pa-lg
              q-chat-message( v-for="(msg, m) in messages" :key="m"
                :name="msg.author || 'Eu'"
                :stamp="msg.date"
                :sent="!msg.author"
              )
              div(v-html="msg.message")
        q-separator
        q-card-section.no-padding
          q-editor(v-model="newMessage"
          :min-height="fullScreen ? '180px' : '80px'"
          :max-height="fullScreen ? '180px' : '80px'"
          :height="fullScreen ? '180px' : '80px'" flat)
        q-separator(v-if="newMessage")
        q-card-section.no-padding(v-if="newMessage")
          q-btn.full-width(flat label="Enviar" @click="saveMessages()")
</template>
<script>
import clonedeep from 'lodash.clonedeep'
export default {
  name: 'GuiaChat',
  props: {
    title: String,
    id: String,
    msgs: {
      type: Array,
      default () {
        return []
      }
    }
  },
  data () {
    return {
      dialog: false,
      fullScreen: this.$q.platform.is.mobile,
      messages: [],
      newMessage: ''
    }
  },
  created () {
    this.messages = clonedeep(this.msgs)
  },
  watch: {
    msgs () {
      this.messages = clonedeep(this.msgs)
    },
    dialog () {
      this.fullScreen = this.$q.platform.is.mobile
      this.newMessage = ''
      if (this.dialog) {
        this.$emit('open')
      } else {
        this.$emit('close')
      }
    }
  },
  methods: {
    saveMessages () {
      if (this.newMessage) {
        const date = new Date().getTime()
        this.messages.push({
          date: date,
          message: [
            this.newMessage
          ]
        })
        this.$emit('input', clonedeep({ guiaId: this.id, messages: this.messages }))
        this.newMessage = ''
      }
    }
  }
}
</script>
<style lang="css" scoped>
.form-card{
  width: 800px;
  max-width: 100%;
}
.form-card-full{
  width: 100vw;
  max-width: 100%;
}
.guia-chat-scroll{
  width: 900px;
  height: 248px;
  max-width: 100%;
}
.guia-chat-scroll-full{
  width: 100%;
  height: calc(100vh - (74px + 115px + 136px));
}
.guia-chat-card{
  width: 800px;
  max-width: 100vw;
}
.guia-chat-card-full{
  max-width: 100vw;
  width: 100vw;
}
.badge-dot{
  width: 20px;
  height: 20px;
  text-align: center;
  padding: 4px 0;
  border-radius: 100%;
}
</style>
