<template lang="pug">
  q-btn.q-mx-sm(flat round icon="edit" @click="dialog = true")
    q-dialog(v-model="dialog" :maximized="fullScreen")
      q-card(:class="fullScreen ? 'form-card-full' : 'form-card'")
        q-card-section.no-padding
          q-item.q-pa-md
            q-item-section(avatar)
              q-icon(name="edit")
            q-item-section
              q-item-label(caption) Alterar item {{guiaObj.code}}
              q-item-label.text-h6  {{guiaObj.name}}
            q-item-section(side v-if="$q.platform.is.desktop && full")
              q-btn(:icon="!fullScreen ? 'fullscreen' : 'fullscreen_exit'" flat round @click="fullScreen = !fullScreen")
            q-item-section(side)
              q-btn(icon="close" flat round @click="dialog = false")
        q-separator
        q-card-section.no-padding
          .q-py-sm
            q-item
              q-item-section(side)
                q-input(v-model="guiaObj.code" label="Código" filled :color="$q.dark.isActive ? 'white' : null")
              q-item-section
                q-input(v-model="guiaObj.name" label="Nome" filled :color="$q.dark.isActive ? 'white' : null")
        q-separator
        q-card-section.no-padding(v-if="altered")
          q-editor(v-model="changeDescription"
          :min-height="fullScreen ? '180px' : '80px'"
          :max-height="fullScreen ? '180px' : '80px'"
          :height="fullScreen ? '180px' : '80px'" flat)
        q-separator
        q-card-section.no-padding
          q-item.q-pa-md
            q-item-section
              q-item-label(caption v-if="altered") {{changeDescription.length}} de 100
            q-item-section(side)
              q-btn.q-mr-md(label="Cancelar" flat @click="dialog = false")
            q-item-section(side v-if="altered && changeDescription.length >= 100")
              q-btn(label="Salvar" unelevated color="orange-8" @click="saveGuia()")
</template>
<script>
import clonedeep from 'lodash.clonedeep'
import isEqual from 'lodash.isequal'
export default {
  name: 'GuiaEdit',
  props: {
    guia: {
      type: Object,
      default () {
        return {}
      }
    },
    full: {
      type: Boolean,
      return: false
    }
  },
  data () {
    return {
      dialog: false,
      fullScreen: this.$q.platform.is.mobile,
      guiaObj: {},
      changeDescription: '',
      change: false
    }
  },
  created () {
    this.guiaObj = clonedeep(this.guia)
  },
  computed: {
    altered () {
      return !isEqual(this.guiaObj, this.guia)
    }
  },
  watch: {
    dialog () {
      this.fullScreen = this.$q.platform.is.mobile
    }
  },
  methods: {
    isEqual,
    saveGuia () {
      if (this.changeDescription && this.changeDescription.length >= 100) {
        this.guiaObj.history.push({
          date: new Date(),
          message: this.changeDescription
        })
        this.$emit('input', clonedeep(this.guiaObj))
        this.changeDescription = ''
        this.dialog = false
      } else {
        this.$q.notify('Justifique sua alteração antes de salvar. ' + this.changeDescription.length + ' de 100')
      }
    }
  }
}
</script>
<style lang="css" scoped>
.form-card{
  width: 800px;
  max-width: 100%;
}
.form-card-full{
  width: 100vw;
  max-width: 100%;
}
.item-form-scroll{
  width: 900px;
  height: 248px;
  max-width: 100%;
}
.item-form-scroll-full{
  width: 100%;
  height: calc(100vh - (74px + 70px));
}
.item-form-card{
  width: 800px;
  max-width: 100vw;
}
.item-form-card-full{
  max-width: 100vw;
  width: 100vw;
}
</style>
