<template lang="pug">
  q-card.q-ma-md
    q-card-section.no-padding
      q-item.q-pa-md.q-ml-md
        q-item-section
          .text-h6 {{title}}
        q-item-section(side)
          q-btn(flat round icon="refresh" @click="updateValue()")
    q-card-section.flex.flex-center
      q-knob(readonly
        v-model="graphValue"
        show-value
        size="120px"
        :thickness="0.15"
        :color="color"
        :track-color="$q.dark.isActive ? 'grey-9' : 'grey-3'"
        :class="'text-' + color")
          div(v-if="graphValue === value") {{graphValue}}{{symbol}}
          q-spinner-dots(v-else)
    q-card-section(v-if="action")
      q-btn(:color="color" class="full-width" flat :label="action.label" :to="action.link")
</template>
<script>
export default {
  name: 'GuiaGraphCard',
  props: {
    index: {
      type: Number,
      default: 1
    },
    title: String,
    value: Number,
    symbol: {
      type: String,
      default: '%'
    },
    action: {
      type: Object,
      default () {
        return {
          label: 'Ver mais',
          link: '/'
        }
      }
    },
    color: String
  },
  data () {
    return {
      graphValue: 0,
      valueTimeOut: null,
      indexGraph: this.index + 1
    }
  },
  created () {
    this.animateValue(true)
  },
  methods: {
    animateValue (indexTime) {
      this.graphValue = 0
      if (this.valueTimeOut) {
        clearTimeout(this.valueTimeOut)
      }
      const time = indexTime ? this.indexGraph * 300 : 400
      this.valueTimeOut = setTimeout(() => {
        this.graphValue = this.value
      }, time)
    },
    updateValue () {
      this.animateValue()
      this.$emit('update')
    }
  }
}
</script>
