<template lang="pug">
  .guia-table-items
    q-table.table-items(
      :data="data"
      flat square
      :columns="columns"
      :loading="loading"
      row-key="name")
      template(v-slot:top-left)
        q-input(label="Filter")
      template(v-slot:loading)
        q-inner-loading(showing :class="$q.dark.isActive ? 'bg-dark' : 'bg-white'" color="primary")
      template(v-slot:body="props")
        q-tr(:props="props" :class="getRowStatusStyle(props.row)")
          q-td(v-for="col in Object.keys(props.row)" :key="col" :props="props")
            div(v-if="col === 'status'")
              q-avatar(:icon="props.row[col].icon" :color="props.row[col].color" text-color="white" size="36px")
            div(v-else-if="col === 'name'")
              .text-subtitle2 {{props.row[col]}}
            div(v-else-if="col === 'value_total'") {{ parseCurrency(props.row.qtd * props.row.value_und) }}
            div(v-else-if="col === 'qtd'")
              q-btn-group(flat dense rounded)
                q-btn(icon="remove" flat dense rounded @click="props.row[col] = props.row[col] - 1" :disable="props.row[col] <= 1")
                q-btn(round dense flat) {{props.row[col]}}
                  q-popup-edit(v-model="props.row.qtd")
                    .text-subtitle1 Edite a quantidade
                    q-input(v-model="props.row.qtd" type="number" :min="1" borderless autofocus)
                q-btn(icon="add" rounded dense flat @click="props.row[col] = props.row[col] + 1")
            span(v-else-if="col.includes('value_')") {{parseCurrency(props.row[col])}}
            span(v-else-if="col === 'actions'")
              guia-edit(:opened="addItemDialog" :guia="props.row" :index="props.row.index" @input="saveGuiaEdit")
              guia-chat(:title="props.row.name" :msgs="props.row.history" :id="props.row.id" @input="saveNewMessage")
            span(v-else) {{props.row[col]}}
</template>
<script>
import clonedeep from 'lodash.clonedeep'
import isEqual from 'lodash.isequal'
import GuiaEdit from './GuiaEdit'
import GuiaChat from './GuiaChat'
export default {
  name: 'GuiaTagleItems',
  components: {
    GuiaEdit,
    GuiaChat
  },
  props: {
    loading: {
      type: Boolean,
      default: true
    },
    isPrestador: {
      type: Boolean,
      default: true
    },
    title: {
      type: Object,
      default () {
        return {}
      }
    }
  },
  data () {
    return {
      guiaFormContext: 'create',
      guiaFormTitle: this.title.singular,
      guiaFormSubtitle: null,
      newMessage: '',
      guiaSelected: null,
      historyDialog: false,
      addItemDialog: false,
      columns: [
        { name: 'status', align: 'left', field: 'status', sortable: true },
        { name: 'name', align: 'left', label: 'Nome', field: 'name', sortable: true },
        { name: 'code', align: 'left', label: 'Código', field: 'code', sortable: true },
        { name: 'date', align: 'left', label: 'Data', field: 'date', sortable: true },
        { name: 'qtd', align: 'left', label: 'Quantidade', field: 'qtd' },
        { name: 'value_und', label: 'Valor Unitário', field: 'value_und', sortable: true },
        { name: 'value_total', label: 'Valor Total', field: 'value_total', sortable: true },
        { name: 'value_original', label: 'Valor Original', field: 'value_original', sortable: true },
        { name: 'value_calc', label: 'Valor Calculado', field: 'value_calc', sortable: true },
        { name: 'value_glosa', label: 'Valor Glosa', field: 'value_glosa', sortable: true },
        { name: 'actions', field: 'actions' }
      ],
      dataBkp: [],
      data: [
        {
          id: 1,
          status: {
            color: 'orange',
            icon: 'edit'
          },
          name: 'Agulha POP',
          code: '1',
          date: '20/05/2020',
          qtd: 12,
          value_und: 10,
          value_total: 120,
          value_original: 120,
          value_calc: 0,
          value_glosa: 0,
          actions: true,
          history: [
            {
              date: '20/05/2020 11:31:12',
              message: 'Apenas uma correção'
            },
            {
              date: '20/05/2020 11:31:12',
              author: 'Dr. João Macedo',
              message: 'Apenas uma correção'
            }
          ]
        },
        {
          id: 2,
          status: {
            color: 'positive',
            icon: 'check'
          },
          name: 'Agulha POP',
          code: '2',
          date: '21/05/2020',
          qtd: 12,
          value_und: 10,
          value_total: 120,
          value_original: 120,
          value_calc: 0,
          value_glosa: 0,
          actions: true,
          history: [
            {
              date: '20/05/2020 11:31:12',
              message: 'Apenas uma correção'
            },
            {
              date: '20/05/2020 11:31:12',
              author: 'Dr. João Macedo',
              message: 'Apenas uma correção'
            },
            {
              date: '20/05/2020 11:31:12',
              message: 'Apenas uma correção'
            },
            {
              date: '20/05/2020 11:31:12',
              author: 'Dr. João Macedo',
              message: 'Apenas uma correção'
            }
          ]
        }
      ]
    }
  },
  created () {
    this.dataBkp = clonedeep(this.data)
  },
  methods: {
    isEqual,
    saveGuiaEdit (editedGuia) {
      console.log(editedGuia)
      this.data = this.data.map(oldGuia => oldGuia.id === editedGuia.id ? editedGuia : oldGuia)
    },
    saveNewMessage () {

    },
    openHystoryDialog (item) {
      this.historyDialog = true
      this.guiaSelected = item
    },
    getRowStatusStyle (item) {
      this.dataBkp.map((guia) => {
        return guia.id === item.id ? null : 'bg-warning-transparent'
      })
    },
    parseCurrency (value) {
      return value.toLocaleString('pt-br', { style: 'currency', currency: 'BRL' })
    }
  }
}
</script>
<style lang="stylus" scoped>
.table-items
  height calc(100vh - ((50px + 75px) + 49px))
.bg-positive-transparent
  background rgba(33, 186, 69, .05) !important
.bg-warning-transparent
  background rgba(255, 152, 0, .05) !important
</style>
