<template lang="pug">
  q-card.q-ma-md
    q-card-section
      q-item.no-padding(style="min-height: auto;")
        q-item-section(avatar)
          q-avatar(icon="person")
        q-item-section
          q-item-label
            .text-subtitle1 {{name}}
          q-item-label(caption) {{code}}
        q-item-section(side)
          .q-pr-sm {{created}}
    q-separator
    q-card-section.no-padding
      q-scroll-area(style="width: 100%; height: 152px;")
        .q-px-lg
          q-timeline(layout="dense" side="right" color="secondary")
            q-timeline-entry(v-for="(event, e) in history" :key="e"
              side="left"
              :subtitle="event.context"
              :icon="event.icon"
              :color="event.color")
              .text-subtitle1 {{event.title}}
              q-item.no-padding
                q-item-section
                  q-item-label(caption) {{event.author}}
                  q-item-label(caption) {{event.date}}
    q-separator
    q-card-section(v-if="status === 'ready'")
      q-item.no-padding(style="min-height: auto;")
        q-item-section
          q-btn(
            flat
            @click="$router.push('/guia/' + code)"
            label="Revisar")
        q-item-section
          q-btn(
            unelevated
            color="primary"
            label="Faturar")
    q-card-section(align="right" v-else-if="status === 'revise' || status === 'billed'")
      q-item.no-padding(style="min-height: auto;")
        q-item-section
        q-item-section
          q-btn.full-width(
            unelevated
            :color="status === 'revise' ? 'orange-9' : 'positive'"
            :label="status === 'revise' ? 'Revisar' : 'Ver Guia'" @click="$router.push('/guia/' + code)")
</template>
<script>
export default {
  name: 'GuiaCard',
  props: {
    name: String,
    code: String,
    created: String,
    status: String,
    history: {
      type: Array,
      default () {
        return []
      }
    }
  },
  data () {
    return {
    }
  }
}
</script>
