<template lang="pug">
  q-btn(icon="more_vert" round flat @click="detailsDialog = true")
    q-dialog(v-model="detailsDialog" :maximized="fullScreen")
      q-card(:class="fullScreen ? 'details-card-full' : 'details-card'")
        q-card-section.no-padding
          q-item.q-pa-md
            q-item-section(avatar)
              q-icon(name="list")
            q-item-section
              q-item-label.text-h6 {{title}}
              q-item-label(caption) {{subtitle}}
            q-item-section(avatar v-if="$q.platform.is.desktop")
              q-btn(:icon="!fullScreen ? 'fullscreen' : 'fullscreen_exit'" flat round @click="fullScreen = !fullScreen")
            q-item-section(avatar)
              q-btn(icon="close" flat round @click="detailsDialog = false")
        q-separator
        q-card-section.no-padding(:class="$q.dark.isActive ? null : 'bg-grey-3'")
          q-scroll-area(:class="fullScreen ? 'details-scroll-full' : 'details-scroll'")
            .q-pa-sm
              .row
                .col-xs-12.col-sm-12(v-for="(item, i) in details" :key="i" :class="fullScreen ? 'col-md-'  + 3 * item.size : 'col-md-' + 6 * item.size")
                  q-card.q-ma-md(:bordered="$q.dark.isActive" :flat="$q.dark.isActive")
                    q-card-section
                      q-item
                        q-item-section
                          q-item-label(caption) {{item.label}}
                          q-item-label {{item.value}}
        q-separator
        q-card-section(align="right")
          q-btn(label="OK" flat @click="detailsDialog = false")
</template>
<script>
export default {
  name: 'GuialDetails',
  props: {
    title: String,
    subtitle: String,
    details: {
      type: Array,
      default () {
        return []
      }
    }
  },
  data () {
    return {
      detailsDialog: false,
      fullScreen: this.$q.platform.is.mobile
    }
  },
  watch: {
    detailsDialog () {
      this.fullScreen = this.$q.platform.is.mobile
    }
  }
}
</script>
<style lang="css" scoped>
.details-scroll{
  width: 100%;
  height: 40vh;
}
.details-scroll-full{
  width: 100%;
  height: calc(100vh - (74px + 70px));
}
.details-card{
  width: 800px;
  max-width: 100vw;
}
.details-card-full{
  max-width: 100vw;
  width: 100vw;
}
</style>
