<template lang="pug">
  q-page
    .page.relative-position
      q-scroll-area.scroll-page
        .q-pa-md
          .row
            .col-md-4.col-sm-6.col-xs-12(v-for="(graph, g) in graphs" :key="g")
              guia-graph-card(:title="graph.name"
                :value="graph.value"
                :color="graph.color"
                :action="graph.action"
                :index="g"
                @update=""
                symbol="%")
      q-page-sticky(position="bottom-right" :offset="[18, 18]")
        q-btn(@click="loadData()" icon="refresh" fab color="primary" :loading="loading")
      q-inner-loading(:showing="loading")
        q-spinner(size="50px" color="primary" :thickness="2")
</template>

<script>
import GuiaGraphCard from '../components/Guias/GuiaGraphCard'
export default {
  name: 'PageIndex',
  components: {
    GuiaGraphCard
  },
  data () {
    return {
      graphs: [
        {
          name: 'Guias Pendentes',
          value: 64,
          symbol: '%',
          color: 'orange',
          action: {
            label: 'Ver Guias',
            link: 'guias'
          }
        },
        {
          name: 'Guias Faturadas',
          value: 22,
          symbol: '%',
          color: 'positive',
          action: {
            label: 'Ver Guias',
            link: 'guias'
          }
        },
        {
          name: 'Guias Na Fila',
          value: 14,
          symbol: '%',
          color: 'primary',
          action: {
            label: 'Ver Guias',
            link: 'guias'
          }
        }
      ],
      loading: false
    }
  },
  methods: {
  }
}
</script>
<style lang="stylus" scoped>
.scroll-page
  width 100%
  height calc(100vh - 50px)
</style>
