<template lang="pug">
  q-page
    .page.relative-position
      q-scroll-area.scroll-page
        .q-pa-md
          .row
            .col-md-3.col-sm-6.col-xs-12(v-for="(guia, g) in guias" :key="g")
              guia-card(
                :name="guia.name"
                :code="guia.code"
                :status="guia.status"
                :history="guia.history"
              )
      q-page-sticky(position="bottom-right" :offset="[18, 18]")
        q-btn(icon="add" fab color="positive")
      q-inner-loading(:showing="loading")
        q-spinner(size="50px" color="primary" :thickness="2")
</template>

<script>
import GuiaCard from '../components/Guias/GuiaCard'
export default {
  name: 'PageIndex',
  components: {
    GuiaCard
  },
  data () {
    return {
      guias: [],
      loading: true
    }
  },
  async created () {
    await this.loadData()
  },
  methods: {
    editItem (guia) {
      this.$q.dialog({
        title: guia.name,
        message: 'Este é apenas um teste de dialogo do item ' + guia.name,
        cancel: {
          label: 'Cancelar',
          color: 'grey-7',
          flat: true
        },
        ok: {
          label: 'Salvar',
          flat: true
        },
        prompt: {
          model: guia.name,
          type: 'text'
        }
      }).onOk(data => {
        this.$q.notify({
          message: '<b class="text-yellow">' + data + '</b> foi modificado.',
          html: true,
          progress: true,
          actions: [
            {
              label: 'Desfazer',
              color: 'yellow',
              handler: () => {
                this.$q.notify('Alterações desfeitas')
              }
            }
          ]
        })
      })
    },
    async loadData () {
      this.loading = true
      await this.$axios.post('http://localhost:3000/guias')
        .then((response) => {
          this.guias = response.data
        })
        .catch(() => {
          this.$q.notify({
            color: 'negative',
            message: 'Ocorreu um erro ao tentar buscar por itens',
            icon: 'report_problem'
          })
        })
      this.loading = false
    }
  }
}
</script>
<style lang="stylus" scoped>
.scroll-page
  width 100%
  height calc(100vh - 50px)
</style>
