<template lang="pug">
  q-page
    .page.relative-position
      q-item.q-pa-md
        q-item-section(avatar)
          q-btn(icon="apps" flat round @click="$router.push('/guias')")
        q-item-section
          q-item-label.text-h6 Maria da Silva
          q-item-label(caption) {{$route.params.id}}
        q-item-section(side v-if="$q.platform.is.desktop")
          q-item-label(caption) Última atualização
          q-item-label 12/04/2020 às 14:31
        //- q-item-section(side)
        //-   guia-details(title="Maria da Silva" subtitle="12341243143" :details="details")
        q-item-section(side)
          q-btn(icon="more_vert" flat round @click="isPrestador = !isPrestador")
      q-separator
      q-scroll-area.scroll-items
        q-tabs(v-model="guiaTab"
          class="text-grey"
          active-color="primary"
          indicator-color="primary"
          align="justify"
          inline-label)
          q-tab(name="materiais" label="Materiais" alert="orange")
          q-tab(name="medicamentos" label="Medicamentos")
          q-tab(name="procedimentos" label="Procedimentos")
        q-separator
        q-tab-panels(v-model="guiaTab" animated)
          q-tab-panel(name="materiais" class="no-padding")
            guia-table-items(:loading="loading"
              :title="{ singular: 'Material', plural: 'Materiais'}"
              :formFields="materialFormFields" :is-prestador="isPrestador")

          q-tab-panel(name="medicamentos" class="no-padding")
            guia-table-items(:loading="loading"
              :title="{ singular: 'Medicamento', plural: 'Medicamentos'}"
              :formFields="medicamentoFormFields" :is-prestador="isPrestador")

          q-tab-panel(name="procedimentos" class="no-padding")
            guia-table-items(:loading="loading"
              :title="{ singular: 'Procedimento', plural: 'Procedimentos'}"
              :formFields="procedimentoFormFields" :is-prestador="isPrestador")

      q-page-sticky(position="bottom-right" :offset="[18, 68]" v-if="!isPrestador")
        q-btn(icon="attach_money" fab color="primary" @click="faturarGuia()")
      //- q-inner-loading(:showing="loading")
      //-   q-spinner(size="50px" color="primary" :thickness="2")
</template>

<script>
import GuiaDetails from '../components/Guias/GuiaDetails'
import GuiaTableItems from '../components/Guias/GuiaTableItems'
export default {
  name: 'PageIndex',
  components: {
    GuiaDetails,
    GuiaTableItems
  },
  data () {
    return {
      isPrestador: false,
      guiaTab: 'materiais',
      guias: [],
      loading: true,
      materialFormFields: [
        {
          label: 'Código',
          field: 'code',
          value: '',
          size: 4
        },
        {
          label: 'Nome',
          field: 'name',
          value: '',
          size: 8
        }
      ],
      medicamentoFormFields: [
        {
          label: 'Código Medicamento',
          field: 'code',
          value: '',
          size: 4
        }
      ],
      procedimentoFormFields: [
        {
          label: 'Código Procedimeto',
          field: 'code',
          value: '',
          size: 4
        }
      ],
      details: [
        {
          label: 'Nº da Guia da Operadora',
          value: '2094949914',
          size: 1
        },
        {
          label: 'Nº da Guia do Prestador',
          value: '2094949914',
          size: 1
        },
        {
          label: 'Nº da Guia do Prestador',
          value: '2094949914',
          size: 2
        }
      ]
    }
  },
  async created () {
    await this.loadData()
  },
  watch: {
    async guiaTab () {
      await this.loadData()
    }
  },
  methods: {
    faturarGuia () {
      this.$q.dialog({
        title: 'Faturar Guia',
        message: 'Deseja enviar esta guia para o faturamento?',
        ok: {
          label: 'Faturar',
          unelevated: true,
          color: 'primary'
        },
        cancel: {
          label: 'Cancelar',
          flat: true,
          color: 'grey'
        }
      })
    },
    editItem (guia) {
      this.$q.dialog({
        title: guia.name,
        message: 'Este é apenas um teste de dialogo do item ' + guia.name,
        cancel: {
          label: 'Cancelar',
          color: 'grey-7',
          flat: true
        },
        ok: {
          label: 'Salvar',
          flat: true
        },
        prompt: {
          model: guia.name,
          type: 'text'
        }
      }).onOk(data => {
        this.$q.notify({
          message: '<b class="text-yellow">' + data + '</b> foi modificado.',
          html: true,
          progress: true,
          actions: [
            {
              label: 'Desfazer',
              color: 'yellow',
              handler: () => {
                this.$q.notify('Alterações desfeitas')
              }
            }
          ]
        })
      })
    },
    async loadData () {
      this.loading = true
      await this.$axios.post('http://localhost:3000/guias')
        .then((response) => {
          this.guias = response.data
        })
        .catch(() => {
          this.$q.notify({
            color: 'negative',
            message: 'Ocorreu um erro ao tentar buscar por itens',
            icon: 'report_problem'
          })
        })
      this.loading = false
    }
  }
}
</script>
<style lang="stylus" scoped>
.scroll-items
  width 100%
  height calc(100vh - ((50px + 75px)))
</style>
