<template lang="pug">
  q-page.flex.flex-center
    .text-center
      q-avatar.q-mb-lg(size="200px")
        img(src="~/assets/working.gif")
      .text-h5 Calma Jovem!
      .text-h6 ainda estamos trabalhando nisto!
    q-inner-loading(:showing="loading")
      q-spinner(size="50px" color="primary" :thickness="2")
</template>

<script>
import { LocalStorage } from 'quasar'
export default {
  name: 'PageIndex',
  components: {
    LocalStorage
  },
  data () {
    return {
      loading: false
    }
  },
  methods: {
  }
}
</script>
<style lang="stylus" scoped>
.scroll-page
  width 100%
  height calc(100vh - 50px)
</style>
