<template lang="pug">
  q-item(clickable :to="link" exact)
    q-item-section(v-if="icon" avatar)
      q-icon(:name="icon")
    q-item-section
      q-item-label {{ title }}
</template>

<script>
export default {
  name: 'EssentialLink',
  props: {
    title: {
      type: String,
      required: true
    },
    link: {
      type: String,
      default: '#'
    },
    icon: {
      type: String,
      default: ''
    }
  }
}
</script>
