<template lang="pug">
  q-layout(view="hHh lpR fFf")
    q-header(elevated style="-webkit-app-region: drag")
      q-toolbar(:class="$q.dark.isActive ? 'bg-light-blue-10' : 'bg-light-blue-8'")
        q-btn(flat
          dense
          round
          icon="menu"
          aria-label="Menu"
          @click="leftDrawerOpen = !leftDrawerOpen")
        q-toolbar-title Panel
        q-btn(flat round icon="person")
          q-menu
            q-card
              q-card-section
                q-item.no-padding
                  q-item-section(avatar)
                    q-avatar(icon="person" color="blue-6" text-color="white" size="60px")
                  q-item-section
                    q-item-label User
                    q-item-label(caption) user@email.com
              q-card-section.no-padding
                q-item.no-padding(style="min-height: 20px")
                  q-item-section.no-margin
                    q-btn.full-width(flat label="Perfil")
                  q-item-section.no-margin
                    q-btn.full-width(flat color="red-8" label="Sair")
    q-drawer(v-model="leftDrawerOpen"
      show-if-above
      :mini="miniState"
      bordered)
      q-scroll-area.scroll-menu
        q-list
          essential-link(v-for="link in essentialLinks"
            :key="link.title"
            v-bind="link")
      q-separator
      q-list.no-padding.no-margin
        q-item(clickable @click="setDark()")
          q-item-section(avatar)
            q-icon(:name="!$q.dark.isActive ? 'nights_stay' : 'wb_sunny'")
          q-item-section {{!$q.dark.isActive ? 'Modo escuro' : 'Modo claro'}}
          q-tooltip(v-if="miniState" anchor="center right" self="center left" :offset="[10, 10]") {{!$q.dark.isActive ? 'Ativar modo escuro' : 'Ativar modo claro'}}
        q-item(clickable @click="miniState = !miniState" v-if="$q.platform.is.desktop")
          q-item-section(avatar)
            q-icon.rotate-90(:name="!miniState ? 'unfold_less' : 'unfold_more'")
          q-item-section {{!miniState ? 'Diminuir menu' : null}}
          q-tooltip(v-if="miniState" anchor="center right" self="center left" :offset="[10, 10]") Aumentar menu
    </q-drawer>
    q-page-container(:class="!$q.dark.isActive ? 'bg-grey-3': null")
      router-view
</template>

<script>
import EssentialLink from 'components/EssentialLink'
import { LocalStorage } from 'quasar'
export default {
  name: 'MainLayout',

  components: {
    EssentialLink,
    LocalStorage
  },

  data () {
    return {
      leftDrawerOpen: false,
      miniState: false,
      essentialLinks: [
        {
          title: 'Dashboard',
          icon: 'equalizer',
          link: '/'
        },
        {
          title: 'Revisar Guias',
          icon: 'list',
          link: '/guias'
        },
        {
          title: 'Configurações',
          icon: 'settings',
          link: '/settings'
        }
      ]
    }
  },
  created () {
    this.$q.dark.set(this.$q.localStorage.getItem('dark_mode'))
    this.miniState = this.$q.localStorage.getItem('mini_mode')
  },
  watch: {
    '$q.dark.isActive' (val) {
      try {
        this.$q.localStorage.set('dark_mode', val)
      } catch (e) {
        console.log('Error: ', e)
      }
    },
    miniState () {
      try {
        this.$q.localStorage.set('mini_mode', this.miniState)
      } catch (e) {
        console.log('Error: ', e)
      }
    }
  },
  methods: {
    setDark () {
      this.$q.dark.toggle()
    }
  }
}
</script>
<style lang="stylus" scoped>
.scroll-menu
  width 100%
  height calc(100vh - (97px + 50px))
  @media screen and (max-width: 600px)
    height calc(100vh - 49px)
</style>
